@tailwind base;
@tailwind components;
@tailwind utilities;

.darken {
  filter: brightness(0.5) blur(2px);
  transition: filter 0.5s ease-in-out;
}

.soften {
  filter: brightness(0.8) blur(0px);
  transition: filter 0.5s ease-in-out;

}

.mesh {
  background: #000000;
  background-image: radial-gradient(at 19.7% 81.9%, #29468f 0px, transparent 50%), radial-gradient(at 59.0% 65.4%, #186d78 0px, transparent 50%), radial-gradient(at 75.4% 31.2%, #3e3c91 0px, transparent 50%), radial-gradient(at 42.1% 49.0%, #005950 0px, transparent 50%);
  height: 100vh;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.blob {
  width: 440px;
  height: 440px;
  border-radius: 0rem;
  background: linear-gradient(197.37deg, #7450DB -0.38%, rgba(138, 234, 240, 0) 101.89%), linear-gradient(115.93deg, #3E88F6 4.86%, rgba(62, 180, 246, 0.33) 38.05%, rgba(62, 235, 246, 0) 74.14%), radial-gradient(56.47% 76.87% at 6.92% 7.55%, rgba(62, 136, 246, 0.7) 0%, rgba(62, 158, 246, 0.182) 52.16%, rgba(62, 246, 246, 0) 100%), linear-gradient(306.53deg, #2EE4E3 19.83%, rgba(46, 228, 227, 0) 97.33%);
  background-blend-mode: normal, normal, normal, normal, normal, normal;
  filter: blur(57px);
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

/* Define the styles for the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #65656b;
}

::-webkit-scrollbar-thumb {
  background-color: #1e2022;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #81e2de;
}